@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Galmuri11";
  src: url("./assets/fonts/Galmuri11.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Galmuri11-Bold";
  src: url("./assets/fonts/Galmuri11-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* SkeletonBlogCard.css */
@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.skeleton-card {
  position: relative;
  overflow: hidden;
  background-color: #2a2d3a;
  border-radius: 10px;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.skeleton-shimmer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.2) 50%, transparent 100%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

body {
  font-family: "Galmuri11" !important;
  background-color: #1d202a !important;
}

.font-bold {
  font-family: "Galmuri11-Bold" !important;
}

.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
}